    <header>
        <nav>
            <div class="row clearfix">
                <img src="image/log.png" class="logo">
                <ul class="main-nav animated slideInDown" id="check-class">
                    <li><a href="/">iphone</a></li>
                    <li><a href="/smartphone">smartphone</a></li>
                    <li><a href="#">update</a></li>
                    <li><a href="#">{{ddd}}</a></li>

                </ul>
                <a href="#" class="mobile-icon" onclick="slideshow()"><i class="fa fa-bars"></i></a>
            </div>

        </nav>

    </header>